@import './post';
@import './elements';

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {  
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 1em;
  line-height: 1.6;
  

  .flex-container {
    display: grid;
    grid-template-columns: 
      minmax(1.2rem, 1fr)
      minmax(20px, 57ch)
      minmax(1.2rem, 1fr);
    margin-top: 30px;

      .future {
        color: gray;
      }
    
      a {
        color: $bodyColor;
        font-weight: 500;
        font-family: $bodyFont;
        text-decoration: none;
      }
    
      a:hover {
        color: #E54646;
      }

      nav {
        grid-column: 2;
        border-bottom: 1px solid black;
        margin-bottom: 10px;

        h1 {
          font-size: 1.0em;
          line-height: 1.6;
          margin: 0em;
        }

        .nav-list {
          display: flex;
          justify-content: space-between;
        }
      }
    
      .post-list {
        grid-column: 2;

        .line-item {
          display: flex;
          justify-content: space-between;
        }
      }

      .post {
        grid-column: 2;
      
        h1 {
          font-size: 1.2em;
          margin-top: 0px;
        }
      }
  }
}

